$secondary_color: #BBB;
$terciary_color: #EF4070;

$extra_color: #FFF;


$blue_light: #EF4070;
$organicity_pink: #EF4070;

// organicity-pinks-palette http://paletton.com/#uid=15r0u0knrFCd7RZiNLBsmA9xrsn
$organicity_pink_1: #F892AE; // lighter
$organicity_pink_2: #F3658B; //    |
$organicity_pink_3: #EF406F; //    |
$organicity_pink_4: #EB1B53; //    |
$organicity_pink_5: #CD0037; // intense

$alert_red: #E74C3C;
$alert_green: #35E67E;

$font_color_white: #FFF;
$font_color_blue_grey: #333;
$font_color_blue_dark: #111;
$font_color_blue_light: #DDE7EA;

$background_blue_dark_menu: #FFF;
$background_blue_dark_overview: #BBB;
$background_blue_dark_navbar: #FFF;
$background_blue_dark_chart: #555;
$background_blue_light: #EFEFEF;

$inputs: #BBB;

$large_priority: 10;
$more_priority: 5;
$medium_priority: 2;
$small_priority: -1;
