$ep_blue: #032933;
$ep_blue_light: #065A6F;
[ng\:cloak],
[ng-cloak],
.ng-cloak {
    display: none !important
}

//////// added from experimenter portal

////////// NAV BAR 


////////////////////////////

.chart_spinner {
    z-index:500 !important;
}

.ep_footer {
    z-index: 200 !important;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #333333;
    text-align: center;
    height: 60px;
    font-size: 10px;
    color: #E0E0E0;
    img {
        margin-top: 8px;
        margin-right: 40px;
        height: 40px;
    }
    #cr {
        margin: auto
    }
}

.navTags {
   color:$ep_blue
  
}
////////////////// navigation bar
#ep_navBar {
    label{
        color:gray;
    }
    p {
        color: black;
        opacity: 0.5;
    }
    a {
        border-style: solid;
        border-width: 1px;
        border-color: white;
        display: block;
        clear: both;
        line-height: 1.428571429;
        white-space: normal;
        color: $ep_blue_light;
    }
    a:hover {
        text-decoration: none;
        background-color: rgba(gray, 0.08);
        color: $organicity_pink;
        border-width: 1px;
        border-color: rgba(gray, 0.08);
    }

    
    width:100%;
    background-color:white;
    border-width: 1px;
    border-color: $organicity_pink;
    color: $organicity_pink;
    md-icon {
            margin-left: 15px;
            width: 100px;
            height: 45px;
        }

    #log {
        float:right;
        height:35px;
        
        p{

            margin-top:15px;
            margin-right:15px;
            color: $organicity_pink;
            opacity: 1;
        }
        a {
            padding:15px 15px 15px 15px;
            color: $ep_blue_light;
            text-decoration: none;
        }

         a:hover {
            text-decoration: none;
            background-color: rgba(gray, 0.08);
            color: $organicity_pink;
            border-width: 1px;
            border-color: rgba(gray, 0.08);
        }
    }   
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.dropdown-menu {
    min-width: 400px;
}

.dropdown-menu.columns-3 {
    padding-left:10px;
    min-width: 1000px;
}

.dropdown-menu.columns-1 {
    padding-left:10px;
    padding-right:10px;
    min-width: 400px;
}

.dropdown-menu.columns-2 {
    min-width: 800px;
}

.dropdown-menu.large-col2 {
    min-width: 800px;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}
.multi-column-dropdown {
    list-style: none;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}


///////////////////////////////////
body {
  height: 100%;
  margin: 0
}

#ep_sidebar {
    position: fixed;
    top: 70px;
    margin-left: 10px;
    width: 220px;
    color: $ep_blue;
    div {
        width: 100%;
        padding: 0px;
        .md-button {
            padding: 0;
        }
    }
}

#ep_content {
    width:95%;
    margin: auto;
    margin-bottom: 60px;
}

.ep_pLabel {
    color: $organicity_pink_5;
    margin-left: 5px;
}

.ep_pBoldLabel {
    font-weight: bold;
    color: $organicity_pink_5;
    margin-left: 5px;
}

.ep_bLabel {
    color: $ep_blue;
    margin-left: 5px;
}

.ep_bBoldLabel {
    color: $ep_blue;
    font-weight: bold;
    margin-left: 5px;
}

.epConfirmDiag {
    z-index: 200 !important;
    width: 500px;
    h2 {
        margin-left: 30px;
        margin-right: 30px;
    }
    p {
        margin-left: 30px;
        margin-right: 30px;
    }
    h4 {
        margin-left: 30px;
        margin-right: 30px;
    }
    #cancel {
        float: left;
        color: blue;
        margin-left: 30px;
    }
    #proceed {
        float: right;
        margin-left: 290px;
    }
}

.epErrorDiag {
    width: 500px;
    h2 {
        margin-left: 30px;
        margin-right: 30px;
    }
    p {
        color: black;
        margin-left: 30px;
        margin-right: 30px;
    }
    #close {
        float: right;
        color: $organicity_pink;
        margin-right: 30px;
    }
}

.rating {
    color: $ep_blue;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: $organicity_pink_5;
}

.ep-tag {

    display: inline-block;
    position: relative;
    background-color: #fff;
    border-radius: .7em;
    color: $organicity_pink_3;
    border-style: solid;
    border-width: 1px;
    border-color: $organicity_pink_3;
    margin: 0em .5em 0em .0em;
    label {
        font-weight: normal;
        margin: .2em .5em .2em .5em;
    }
}

.selectCell {
    cursor: pointer;
}

.ep_info, .ep_warn{
    border: 1px solid;
    padding:10px 5px 10px 60px;
    background-repeat: no-repeat;
    background-position: 10px center;
    z-index: 200 !important;
    width:40%;
    margin-left:20%;
    margin-top:10%;
    position:fixed;
}

.ep_info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../assets/ep/info.svg');
}
 
.ep_warn {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('../assets/ep/warn.svg');
}


.autocomplete-list ul li.autocomplete-active {
    background-color: $organicity_pink_1;
}

.form-item-container .list-inline li span {
    border: 1px solid $organicity_pink_1;
}

tags-input  {
  .tags {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: #fff ease-in-out .15s, box-shadow ease-in-out .15s;
    &.focused {
      border-color: #fff;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px $organicity_pink_3;
    }
    .tag-item {
      background: #fff;
      border: 1px solid $organicity_pink_3;
      border-radius: 4px;
      color: $organicity_pink_3;
      &.selected {
        background: $organicity_pink_1;
        border: 1px solid $organicity_pink_1;
        border-radius: 4px;
        color: #fff;
      }
      button {
        background: transparent;
        color: #000;
        opacity: .4;
      }
    }
  }
  .autocomplete {
    border-radius: 4px;
    .suggestion-item {
      &.selected {
        color: #262626;
        background-color: #e9e9e9;
        em {
          color: #262626;
          background-color: #ffff00;
        }
      }
      em {
        font-weight: normal;
        background-color: #ffff00;
      }
    }
  }
}

md-input-container:not(.md-input-invalid).md-input-focused {
    label {
        color: $terciary_color;
    }
    .md-input {
        border-color: rgba(0, 0, 0, 0.12);
    }
}

md-dialog {
    background-color: white;
}

md-dialog {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px transparent;
    max-height: 100%;
}

md-dialog-content {
    background-color: white;
}

md-content {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
}

.md-button.md-flat.md-primary {
    background-color: white;
    color: $organicity_pink;
    border-style: solid;
    border-width: 1px;
    border-color: $organicity_pink;
}

.md-button.md-primary.md-flat:not([disabled]):hover {
    background-color: $organicity_pink;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: $organicity_pink;
}

.md-button.md-primary.md-flat:not([disabled]):focus {
    background-color: $organicity_pink;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: $organicity_pink;
}

.md-button.md-flat.md-secondary {
    background-color: white;
    color: $ep_blue;
    border-style: solid;
    border-width: 1px;
    border-color: $ep_blue;
}

.md-button.md-secondary.md-flat:not([disabled]):hover {
    background-color: $ep_blue;
    color: white;;
    border-style: solid;
    border-width: 1px;
    border-color: $ep_blue;
}

.md-button.md-secondary.md-flat:not([disabled]):focus {
    background-color: $ep_blue;
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: $ep_blue;
}

.md-button[disabled] {
  opacity: 0.2; 
  cursor: not-allowed;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: $organicity_pink_1;
  box-shadow: 0 1px 1px white inset, 0 0 8px $organicity_pink_1;
  outline: 0 none;
}

select.form-control:focus {
    border-color: $organicity_pink_1;
    box-shadow: 0 1px 1px white inset, 0 0 8px $organicity_pink_1;
    outline: 0 none;
}

input.form-control:focus {
    border-color: $organicity_pink_1;
    box-shadow: 0 1px 1px white inset, 0 0 8px $organicity_pink_1;
    outline: 0 none;
}

textarea.form-control:focus {
    border-color: $organicity_pink_1;
    box-shadow: 0 1px 1px white inset, 0 0 8px $organicity_pink_1;
    outline: 0 none;
}

