.label-sb {
    label {
        cursor: pointer;
        font-weight: bold;
    }
}

.label-sb:hover {
    color: $organicity_pink;
    cursor: pointer;
}

.accordion-sb input {
    display: none;
}

.box-sb {
    position: relative;
    height: 32px;
}

.box-sb:hover {
    .box-title-sb {
        color: $organicity_pink;
    }
    .icon-title-sb {
        color: $organicity_pink;
    }
    cursor: pointer;
}

.box-sb::before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.box-title-sb {
    font-weight: bold;
    width: calc(100% - 40px);
    height: 32px;
    transform: translate(0, -20px);
    line-height: 64px;
    margin-left: 10px;
    display: inline-block;
    color: $ep_blue;
    cursor: pointer;
}

.box-content-sb {
    margin-left: 13px;
    width: calc(100% - 40px);
    display: none;
    div:hover {
        background-color: #efefef;
    }
}

.box-close-sb {
    position: absolute;
    height: 32px;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

input:checked + .box-sb {
    .box-title-sb {
        color: $organicity_pink;
    }
    .icon-title-sb {
        color: $organicity_pink;
    }
    height: auto;
}

input:checked + .box-sb .box-content-sb,
input:checked + .box-sb .box-close-sb {
    display: inline-block;
}
