@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic|Roboto:400,700,700italic,400italic);
@import '_variables';

/**
 *  MOZILLA-SPECIFIC CSS
 */

@-moz-document url-prefix() {
    .entity_detailed .entity_chart .container .entity_chart_left .sensor_select .sensor_icon_selected {
        transform: translateY(-8px);
    }
    .entity_detailed .entity_chart .container .entity_chart_left .sensor_compare md-select {
        transform: translateY(8px);
        margin: 0;
    }
    body .entity_detailed .entity_chart .container .entity_chart_left .sensor_data {
        margin: 5% 0 4% 0;
    }
    /*   section.map {
    z-index: 0;
  } */
}

/**
 *  INPUT CSS
 */

::-webentity-input-placeholder {
    /* Webentity browsers */
    color: $font_color_white;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $font_color_white;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $font_color_white;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: $font_color_white;
}

:focus::-webentity-input-placeholder {
    /* Webentity browsers */
    color: #032933;
}

:focus:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #032933;
    opacity: 1;
}

:focus::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #032933;
    opacity: 1;
}

:focus:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #032933;
}

html {
    font-family: 'Roboto Condensed';
}

body {
    background-color: rgba(0, 0, 0, 0);
}

md-progress-circular {
    top: 50%;
    left: 50%;
    position: fixed;
    z-index: 500 !important;
}



/*!

/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
   all your sass files automatically */

// injector
// endinjector