<md-progress-circular ng-show="vm.loadingChart" class="md-hue-3 chart_spinner" md-mode="indeterminate"></md-progress-circular>
<label style="margin: auto;color: #EF4070; font-size: 200%"> Participant Portal</label>
<br>
<nav class="navTags">
    <a href='#' ng-click="vm.goHome()" style="color:#EF4070; transform: translateY(6px);" class="material-icons" >home</a>
</nav>
<hr/>

<h3> List of Invitations </h3>
<br>
<div>
    <md-progress-circular ng-show="vm.loadingChart" class="md-hue-3 chart_spinner" md-mode="indeterminate"></md-progress-circular>
</div>
<table datatable="ng" dt-options="vm.dtOptions" dt-column-defs="vm.dtColumnDefs" class="hover">
    <thead>
        <tr>
            <th>Experiment Name</th>
            <th>Invitation Date</th>
            <th>Experiment Description</th>
			<th></th>
            <th>State</th>
            <th>Accept</th>
            <th>Reject</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="inv in vm.invs">
            <td align="left" width="20%" >{{ inv.experimentName.toUpperCase() }}</td>
            <td class="center" width="10%" >{{ vm.getDate(inv.dateSent)}}</td>
            <td class="left" width="40%" >{{ vm.shortDescription(inv.description)}}</td>
			<td align="selectCell" ng-click="vm.invInfo($event,inv)"><i class="material-icons" style="color:blue;cursor:pointer;">info</i></td>
            <td align="center" width="10%" class="exp_status">{{inv.state.toUpperCase()}}</td>
            <td align="center" >
              <div ng-show="inv.state==='pending'">
                <i ng-if="vm.isAccepted(inv)" class="material-icons" style="color:red;cursor:pointer;font-weight:bold;" ng-click="vm.accept(inv)">done</i>
                <i ng-if="!vm.isAccepted(inv)" class="material-icons" style="color:black;cursor:pointer;font-weight:bold;" ng-click="vm.accept(inv)">done</i>
              </div>
            </td>
            <td align="center" ng-click="vm.reject(inv)">
              <div ng-show="inv.state==='pending'">
                <i ng-if="vm.isRejected(inv)" class="material-icons" style="color:red;cursor:pointer;font-weight:bold;" ng-click="vm.reject(inv)">clear</i>
                <i ng-if="!vm.isRejected(inv)" class="material-icons" style="color:bacl;cursor:pointer;font-weight:bold;" ng-click="vm.reject(inv)">clear</i>
              </div>
            </td>
        </tr>
    </tbody>
</table>
<br>
<br>
<md-button style="float:right" class="md-flat md-primary" ng-disabled="!vm.updateEnabled" ng-click="vm.update()"> Update </md-button>
<md-button style="float:left" class="md-flat md-primary"  ng-click="vm.goBack()"> < Go back </md-button>
