
<div class="container-fluid">
    <div class="row">    
    	<div class="col-xs-3">
    		<img style="width: 50%" ng-src="./assets/ep/exp_portal_large.svg" />
        </div>
        <div class="col-xs-6">
			<h4> You cannot enter the portal. Check that you are an experimenter. If you need help to become an experimenter, contact us in the <a href="#" ng-click="vm.callHref(vm.q2a)">forum</a> or create a ticket <a href="#" ng-click="vm.callHref(vm.zoho)">here</a> </h4>
        </div>
       	<div class="col-xs-3">
       		<img style="width: 50%" ng-src="./assets/ep/exp_portal_large.svg" />
        </div>
    </div>  
</div>      

